@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(199, 210, 195);
}

/* Navbar css start from here  */
.navbar{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1rem;
}
.todo_heading h1{
    margin-left: 1rem;
}

.navbar .todo_heading h1{
    color: grey;
    font-weight: 700;
    font-size: 2.2rem;
}
.navbar .about a {
    text-decoration: none;
}
.navbar .about a h3 {
    color: white;
    font-size: 1.3rem;
    
}
.navbar .about a h3:hover{
    color: grey;
}

/* Navbar css end here  */

/* List css start from here  */


.list {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 0rem 1.2rem;
}
.list .window1{
    width: 60%;
    height: 35rem;
    background-color: white;
    border-radius: 1.3rem;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
}
.list .window1 .list_heading {
    margin-bottom: 1rem;
    background-color: white;
    height: 10%;
}
.list .window1 .list_heading h1{
    color: rgba(0, 0, 0, 0.598);
    font-weight: 700;
    font-size: 2rem;
}
.list .window1 .tasks{
    height: 80%;
}
.list .window1 .tasks ul {
    overflow-y: scroll;
    height: 100%;
    padding: .5rem;
    border-radius: 20px;
}
.list .window1 .tasks ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;
    font-weight: 600;
}
.list .window1 .tasks ul li .task_data span{
    display: block;
    margin-left: 3px;
    font-weight: 400;
    font-size: .8rem;
}
.list .window1 .tasks ul li .done_btn {
    width: 3.5rem;
    height: 2rem;   
    background-color: rgb(33, 136, 56);
    border-radius: .3rem;
    color: white;
    font-weight: 700;
    border: none;
}
.list .window1 .tasks ul .line{
    border: 1px solid rgb(177, 175, 175);
}
.list .window2 {
    padding-left: 2rem;
    width: 40%;
    background-color: white;
    border-radius: 1.3rem;
}   
.list .window2 .task_heading {
    margin-top: 1.5rem;
}
.list .window2 .task_heading h1 {
    color: rgba(0, 0, 0, 0.598);
    font-weight: 600;
}
.list .window2 .task_detail {
    margin-top: 3rem;
}
.list .window2 .task_detail .add_task .fa-circle-o {
    color: rgba(0, 0, 0, 0.598);
}
.list .window2 .task_detail .add_desc {
    margin-top: 3rem;
}
.list .window2 .add_btn {
    width: 5.7rem;
    height: 2.2rem;
    border-radius: .3rem;
    background-color: rgb(200, 35, 51);
    color: white;
    font-weight: 700;
    border: none;
    margin-top: 1.7rem;
}
.list .window2 .fa-plus {
    margin-right: 5px;
}
label{
    color: rgba(0, 0, 0, 0.598);
}
input {
    display: block;
    border: none; 
    border-bottom: 2px solid #000;
    outline: none;
    width: 85%;
}
.fa-circle-o {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.598);
}
/* List css end here  */